modules = ["go-1.21", "go-1.24"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./training-tg-bot"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
run = ["./training-tg-bot"]
deploymentTarget = "autoscale"
build = ["go build -v -o training-tg-bot ./cmd/main.go"]
