.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 16px;
}

.workout-item {
  cursor: pointer;
  border-radius: var(--radius-lg);
  transition: 0.15s;
  position: relative;
  box-shadow: var(--shadow-md);
  background: var(--color-card);
}

.workout-item:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
  background: var(--color-primary-soft);
}

.delete-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;

  border-radius: 50%;
  width: 34px;
  height: 34px;

  cursor: pointer;
}

.workout-actions {
  position: absolute;
  bottom: 8px;
  right: 8px;

  display: flex;
  gap: 8px;
}
