.btn {
    min-height: var(--tap-size);
    padding: 0 16px;

    display: inline-flex;      /* 👈 добавляем */
    align-items: center;       /* 👈 вертикальный центр */
    justify-content: center;   /* 👈 центр по горизонтали */
    gap: 8px;                  /* 👈 расстояние между иконкой и текстом */

    border-radius: var(--radius);
    font-weight: 600;
    font-size: 16px;
    border: none;

    cursor: pointer;
    transition: 0.15s;
    color: var(--color-text);
}

.btn:active {
    transform: scale(0.97);
}

/* primary */
.btn-primary {
    background: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

/* active */
.btn-active {
    background: var(--color-active);
}

.btn-active:hover {
    background: var(--color-active-hover);
}

/* danger */
.btn-danger {
    background: var(--color-danger);
}

.btn-danger:hover {
    background: var(--color-danger-hover);
}

/* ghost */
.btn-ghost {
    background: var(--color-ghost);
    color: black;
}

.btn-ghost:hover {
    background: var(--color-ghost-hover);
    color: black;
}

/* danger */
.btn-attention {
    background: var(--color-attention);
    color: black;
}

.btn-attention:hover {
    background: var(--color-attention-hover);
    color: black;
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
