:root {
    /* ========= COLORS ========= */
    --color-primary: #2461a6;
    --color-primary-hover: #084c7a;
    --color-primary-soft: #eef4fc;

    --color-active: #6dc774;
    --color-active-hover: #45ce51;

    --color-danger: #e36565;
    --color-danger-hover: #ff1f1f;

    --color-ghost: #e3e3e3;
    --color-ghost-hover: #bbbbbb;

    --color-bg: #f6f8fa;
    --color-card: #ffffff;

    --color-text: #1f2937;
    --color-text-muted: #6b7280;

    --color-border: #e5e7eb;

    /* ========= UI ========= */
    --radius: 12px;
    --radius-lg: 16px;

    --shadow-sm: 0 1px 4px rgba(0,0,0,0.08);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.12);

    --tap-size: 44px;
}
