:root {
    /* ========= COLORS ========= */
    --color-primary: #2461a6;
    --color-primary-hover: #084c7a;
    --color-primary-soft: #eef4fc;

    --color-active: #61c76b;
    --color-active-hover: #2ed03c;

    --color-attention: #fcec3f;
    --color-attention-hover: #ffd200;

    --color-danger: #ef7777;
    --color-danger-hover: #da3e3e;

    --color-ghost: #e3e3e3;
    --color-ghost-hover: #bbbbbb;

    --color-bg: #f6f8fa;
    --color-card: #ffffff;
    --color-card-alt: #e9f3fa;

    --color-text: #1f2937;
    --color-text-muted: #51658f;
    --color-btn-text: white;

    --color-border: #e5e7eb;

    /* ========= UI ========= */
    --radius: 12px;
    --radius-lg: 16px;

    --card-gap: 8px;
    --card-padding: 16px;

    --shadow-sm: 0 1px 4px rgba(0,0,0,0.08);
    --shadow-md: 0 4px 8px rgba(0,0,0,0.12);

    --tap-size: 44px;
}

/* ========= DARK THEME ========= */
.dark-theme {
    /* ========= COLORS ========= */
    --color-primary: #195e97;
    --color-primary-hover: #1e326a;
    --color-primary-soft: #31528a;

    --color-active: #3cb769;
    --color-active-hover: #03bd48;

    --color-attention: #facc15;
    --color-attention-hover: #eab308;

    --color-danger: #f87171;
    --color-danger-hover: #dc2626;

    --color-ghost: #66707e;
    --color-ghost-hover: #535d75;

    --color-bg: #13141a;       /* Фон страницы */
    --color-card: #174061;     /* Карточки / контейнеры */
    --color-card-alt: #213142;

    --color-text: #f9fafb;     /* Основной текст */
    --color-text-muted: #b2cbf6; /* Подписи / второстепенный текст */
    --color-btn-text: white;

    --color-border: #374151;

    --card-gap: 8px;

    /* ========= UI ========= */
    --shadow-sm: 0 1px 4px rgba(79, 77, 77, 0.54);
    --shadow-md: 0 4px 8px rgba(131, 131, 131, 0.36);
}
